<div class="bottomnav">
	<div class="inner">

		<div class="wrapper" style="background: url(/bos_gypsy/themes/bos_gypsy/assets/img/modules/appagebuilder/images/line-gray.png) repeat-x bottom">
			<div class="container">
				<div class="row box-navh1 ApRow  has-bg bg-fullwidth-container" style="">

					<div class="col-sm-12 col-xs-12 col-sp-12 col-md-12 col-lg-12 col-xl-12  ApColumn ">

						<div class="block ApHtml">
							<div class="block_content">
								<div>Free Worldwide shipping on order over $50</div>
							</div>
						</div>

						<div id="leo_block_top" class="popup-over dropdown js-dropdown">
							<a href="javascript:void(0)" data-toggle="dropdown" class="popup-title" title="Setting">
								<i class="fa fa-cog"></i>
								<span class="hidden-md-down">Setting</span>
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<div class="popup-content dropdown-menu">
								<div class="language-selector">
									<span>Language:</span>
									<ul class="link">
										<li class="current">
											<a href="https://demo1.leotheme.com/bos_gypsy/en/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/1.jpg" alt="en" width="16" height="11">
												</span>
												<span class="lang-name">English</span>
											</a>
										</li>
										<li>
											<a href="https://demo1.leotheme.com/bos_gypsy/fr/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/2.jpg" alt="fr" width="16" height="11">
												</span>
												<span class="lang-name">Français</span>
											</a>
										</li>
										<li>
											<a href="https://demo1.leotheme.com/bos_gypsy/de/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/3.jpg" alt="de" width="16" height="11">
												</span>
												<span class="lang-name">Deutsch</span>
											</a>
										</li>
										<li>
											<a href="https://demo1.leotheme.com/bos_gypsy/it/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/4.jpg" alt="it" width="16" height="11">
												</span>
												<span class="lang-name">Italiano</span>
											</a>
										</li>
										<li>
											<a href="https://demo1.leotheme.com/bos_gypsy/es/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/5.jpg" alt="es" width="16" height="11">
												</span>
												<span class="lang-name">Español</span>
											</a>
										</li>
										<li>
											<a href="https://demo1.leotheme.com/bos_gypsy/ar/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw" class="dropdown-item">
												<span class="lang-img">
													<img src="/bos_gypsy/img/l/6.jpg" alt="ar" width="16" height="11">
												</span>
												<span class="lang-name">اللغة العربية</span>
											</a>
										</li>
									</ul>
								</div>
								<div class="currency-selector">
									<span>Currency:</span>
									<ul class="link">
										<li>
											<a title="Euro" rel="nofollow" href="https://demo1.leotheme.com/bos_gypsy/en/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw&amp;SubmitCurrency=1&amp;id_currency=2" class="dropdown-item">
												<span class="cur-code">EUR</span>
												<span class="cur-name">€</span>
											</a>
										</li>
										<li class="current">
											<a title="US Dollar" rel="nofollow" href="https://demo1.leotheme.com/bos_gypsy/en/module/leofeature/productscompare?fbclid=IwAR1I31elDvQSFFMH8FRuq1iN8U0H8YwaogwuoxaKiZ-xhQiobuIfzSmyZuw&amp;SubmitCurrency=1&amp;id_currency=1" class="dropdown-item">
												<span class="cur-code">USD</span>
												<span class="cur-name">$</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<a href="javascript:void(0)" data-toggle="dropdown" class="popup-title" title="Account">
							<i class="fa fa-user"></i>
							<span class="hidden-md-down">My account</span>
							<i class="fa fa-angle-down" aria-hidden="true"></i>
						</a>
						<ul class="popup-content dropdown-menu user-info">
							<li>
								<a class="signin leo-quicklogin" data-enable-sociallogin="enable" data-type="popup" data-layout="login" href="javascript:void(0)" title="Log in to your customer account" rel="nofollow">
									<i class="fa fa-lock"></i>
									<span>Sign in</span>
								</a>
							</li>

						</ul>
					</div>

				</div>

			</div>
		</div>
	</div>

</div>
