.carrousel {
    width: 100%;
    overflow: hidden;
}

.sld {
    list-style: none;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.sld>li {
    position: relative;
    float: left;
    width: 33.33%;
}

.sld .slider {
    display: block;
    width: 100%;
    max-width: 100%;
}

.slider {
    height: 80vh;
    background-size: cover;
    width: 100%;
    background-position: center center;
}