<div class="main-content">
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <div class="aa-product-title">
                      <app-button-icon size="40px"></app-button-icon>
                      <h3>{{ product.title }}</h3>
                    </div>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">S/ {{product.price}}</span>
                    </div>
                    <p>{{ product.description }}</p>
                    <h4>Talla</h4>
                    <div class="aa-prod-view-size">
                      <a href="#">S</a>
                      <a href="#">M</a>
                      <a href="#">L</a>
                      <a href="#">XL</a>
                    </div>
                    <h4>Colores</h4>
                    <div class="aa-color-tag">
                      <a href="#" class="aa-color-green"></a>
                      <a href="#" class="aa-color-yellow"></a>
                      <a href="#" class="aa-color-pink"></a>
                      <a href="#" class="aa-color-black"></a>
                      <a href="#" class="aa-color-white"></a>
                    </div>
                    <div class="aa-prod-view-bottom">
                      <h4>Información relevante</h4>
                      <p>{{product.store.name}}</p>
                      <div class="row">
                        <a class="aa-add-to-cart-btn" href="#">Add To Cart</a>
                        <a class="aa-add-to-cart-btn" href="#">Wishlist</a>
                        <a class="aa-add-to-cart-btn" href="#">Compare</a>
                      </div>
                      <span class="pull-left">Santa Anita, Lima, Lima</span>
                      <span class="pull-right">Publicado {{product.createdDateHuman}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
