:host {
  .aa-search-box {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border: 1px solid #ddd;
    width: 100%;
    background-color: #fff;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
  }
  .aa-search-box .app-input {
    border-color: transparent;
    border: 1px solid #fff;
    color: #555;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
  }

  .aa-search-box > i {
    color: #9b9b9b;
    padding-left: 15px;
    padding-right: 15px;
  }

}
