<section class="aa-product-categories">
    <div class="container">
      <div class="row">
        <div>
          <app-button-icon
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
      <app-button-icon
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
      <app-button-icon
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
      <app-button-icon
        [icon]="icon.awesome.motorcycle"
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
      <app-button-icon
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
      <app-button-icon
        size="60px"
        text="Moda"
        sizeIcon="1.5em">
      </app-button-icon>
        </div>
      </div>
    </div>
</section>
