<footer id="aa-footer">
    <div class="aa-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-footer-top-area">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="aa-footer-widget">
                    <h3>Main Menu</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="https://www.free-css.com/free-css-templates">Home</a></li>
                      <li><a href="https://www.free-css.com/free-css-templates">Our Services</a></li>
                      <li><a href="https://www.free-css.com/free-css-templates">Our Products</a></li>
                      <li><a href="https://www.free-css.com/free-css-templates">About Us</a></li>
                      <li><a href="https://www.free-css.com/free-css-templates">Contact Us</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="aa-footer-widget">
                    <div class="aa-footer-widget">
                      <h3>Knowledge Base</h3>
                      <ul class="aa-footer-nav">
                        <li><a href="https://www.free-css.com/free-css-templates">Delivery</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Returns</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Services</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Discount</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Special Offer</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="aa-footer-widget">
                    <div class="aa-footer-widget">
                      <h3>Useful Links</h3>
                      <ul class="aa-footer-nav">
                        <li><a href="https://www.free-css.com/free-css-templates">Site Map</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Search</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Advanced Search</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">Suppliers</a></li>
                        <li><a href="https://www.free-css.com/free-css-templates">FAQ</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <div class="aa-footer-widget">
                    <div class="aa-footer-widget">
                      <h3>Contact Us</h3>
                      <address>
                      <p>25 Astor Pl, NY 10003, USA</p>
                      <p><span class="fa fa-phone"></span>+1 212-982-4589</p>
                      <p><span class="fa fa-envelope"></span>info@gmail.com</p>
                      </address>
                      <div class="aa-footer-social"><a href="https://www.free-css.com/free-css-templates"><span class="fa fa-facebook"></span></a> <a href="https://www.free-css.com/free-css-templates"><span class="fa fa-twitter"></span></a> <a href="https://www.free-css.com/free-css-templates"><span class="fa fa-google-plus"></span></a> <a href="https://www.free-css.com/free-css-templates"><span class="fa fa-youtube"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aa-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="aa-footer-bottom-area">
              <p>Designed by <a target="_blank" rel="nofollow noopener" href="//www.markups.io/">MarkUps</a></p>
              <div class="aa-footer-payment"><span class="fa fa-cc-mastercard"></span> <span class="fa fa-cc-visa"></span> <span class="fa fa-paypal"></span> <span class="fa fa-cc-discover"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>