<div class="aa-product-catg-head">
  <div class="aa-product-catg-head-left">
    <form action="" class="aa-sort-form">
      <label for="">Ordernar por</label>
      <select name="sort-field">
        <option value="2">Precio más bajo</option>
        <option value="3">Precio más alto</option>
        <option value="4">Fecha publicción</option>
      </select>
    </form>
  </div>
  <div class="aa-product-catg-head-right">
    <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
    <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
  </div>
</div>
