<div class= "main-content">
  <app-grid></app-grid>
  <section class="home" id="aa-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title">Recomendado para ti <a  [routerLink]="['/resultados']" >Ver más...</a></h2>

          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="aa-product-area">
                <div class="aa-product-inner">
                  <div class="tab-content">
                    <div class="tab-pane fade active in" id="men">
                      <ul class="aa-product-catg">
                        <ng-container *ngIf="!products">
                          <app-loading-content [limit]='12'></app-loading-content>
                        </ng-container>
                        <ng-container *ngIf="products">
                            <li  *ngFor="let product of products" class="product-cart">
                              <app-product-item [product] = "product"></app-product-item>
                            </li>
                        </ng-container>
                      </ul>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-banner></app-banner>

      <!-- <section id="aa-popular-category">
      <div class="container">
        <div class="aa-popular-category-area">
          <app-slider-product-item title="Lo último en tecnología" [products]="products"></app-slider-product-item>
        </div>
      </div>
    </section> -->

</div>
