:host {
  .btn-icon {
    padding: 0px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 0px;
    font-size: 20px;
    border-color: #e0e0e0;

  }
  .btn-icon:hover {
    background-color: #dbdbdb;
  }

  .btn-icon:focus {
    outline: none;
  }

  .btn-icon i{
    padding: 0px;
    line-height: 0px;
    margin: 0px;
    right: 1.5px;
    top: 2px;
  }

  .btn-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-icon-container > span {
    margin-top: 5px;
  }
}
