<section id="menu">
    <div class="container">
      <div class="menu-area">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>          
          </div>
          <div class="navbar-collapse collapse">
            <!-- Left nav -->
            <ul class="nav navbar-nav">
              <ng-container *ngFor="let menu of menus">
                <li class="dropdown">
                  <a href='{{menu.href}}'>{{menu.label}}
                    <span *ngIf="menu.links" class="caret"></span>
                  </a>
                  <ng-container *ngIf="menu.links">
                    <ul class="dropdown-menu">                
                      <li  *ngFor="let link of menu.links"><a href='{{link.href}}'>{{link.label}}</a></li>
                    </ul>
                  </ng-container>
                </li>
              </ng-container>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>       
    </div>
  </section>