<div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <app-logo></app-logo>
            <!-- / logo  -->
             <!-- cart box -->
            <app-cart-box></app-cart-box>
            <!-- / cart box -->
            <!-- search box -->
            <app-search-input></app-search-input>
            <!-- / search box -->             
          </div>
        </div>
      </div>
    </div>
  </div>