<figure>
    <div class="aa-product">
        <div  (click)="deatail($event)" class="aa-product-img">
            <img    src="{{product.images[0].source}}" alt="website template image">
        </div>
        <div class="card-options">
            <app-button-icon></app-button-icon>
            <app-button-icon [icon]='icon.glyphicon.comment'></app-button-icon>
        </div>
    </div>
    <figcaption class="aa-product-info">
        <div class="aa-product-detail">

            <h4 class="aa-product-title">
                <a [routerLink]="[ '/producto', product.slug ]">{{product.shortTitle | uppercase }}</a>
            </h4>
        <span class="aa-product-price">S/{{product.price}}</span>
        </div>
        <div class="aa-customer-ifo pull-left">
            <a href="{{product.store.href}}">{{product.store.name}}</a>
        </div>
    </figcaption>
</figure>
<!---
<span class="aa-badge aa-sale">Casi se agota</span>
-->
