$orange: #f36525;
$secundary-span: rgb(144 143 142);

.navbar-default {
    color: #000000;
    background: $orange;
    border-color: $orange;
}
.fa-2x {
    font-size: 2.0em;
}
.fa-25x {
    font-size: 2.5em;
}

