<aside class="aa-sidebar shadow-hover">
  <!-- single sidebar -->
  <div class="aa-sidebar-widget">
    <h3>Categorías</h3>
    <ul class="aa-catg-nav">
      <li><a href="#">Men</a></li>
      <li><a href="">Women</a></li>
      <li><a href="">Kids</a></li>
      <li><a href="">Electornics</a></li>
      <li><a href="">Sports</a></li>
    </ul>
  </div>
  <!-- single sidebar -->
  <div class="aa-sidebar-widget">
    <h3>Último productos visitados</h3>
    <div class="aa-recently-views">
      <ul>
        <li>
          <a href="#" class="aa-cartbox-img"><img alt="img" src="assets/img/women/girl-1.png"></a>
          <div class="aa-cartbox-info">
            <h4><a href="#">Product Name</a></h4>
            <p>1 x $250</p>
          </div>
        </li>
        <li>
          <a href="#" class="aa-cartbox-img"><img alt="img" src="assets/img/women/girl-3.png"></a>
          <div class="aa-cartbox-info">
            <h4><a href="#">Product Name</a></h4>
            <p>1 x $250</p>
          </div>
        </li>
         <li>
          <a href="#" class="aa-cartbox-img"><img alt="img" src="assets/img/women/girl-4.png"></a>
          <div class="aa-cartbox-info">
            <h4><a href="#">Product Name</a></h4>
            <p>1 x $250</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</aside>
